body {
    margin: 0;
    /* EVITA LA SELECCIÓN DE TEXTO */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.maquina {
    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: center;

    height: 100vh;
    width: 100%;
}

.titulo {
    width: 100%;
    background-color: hsl(217, 69%, 69%);
    text-align: center;
}

.bloque {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    height: 100%;
    width: 100%;
}

.productos {
    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: center;

    /* background-color: rgb(101, 46, 152); */
    background-color: hsl(217, 89%, 40%);
    height: 100%;
    width: 60%;
}

.filaProductos {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.producto {
    width: 100px;
    height: 100px;

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    /* background-image: url("../imagenes/aquarius.jpg"); */

    border-radius: 10px;
    background-color: white;
}

.producto:hover {
    cursor: pointer;
}

.producto:active {
    cursor: pointer;
    scale:0.9;
}

.parteInferior {
    display: flex;
    flex-direction: row;
}
/* TODO REVISAR MÁRGENES */
.bandejaSalida {
    width: 250px;
    height: 80px;

    margin-top: 160px;
    /* margin-right: 90px; */

    border-radius: 10px;

    background-color: hsl(217, 89%, 20%);
}

.llaveServicio {
    width: 50px;
    height: 50px;

    margin-top: 40px;

    padding: auto;

    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: end; */
    /* margin-right: 40px; */
    border-radius: 10px;

    background-color: rgb(198, 158, 158);
}


/* .llaveServicio:hover {
    cursor: pointer;
}

.llaveServicio:active {
    cursor: pointer;
    scale:1.1;
} */

.manejador {
    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: center;
    /* background-color: rgb(73, 15, 128); */
    background-color: hsl(217, 89%, 60%);
    height: 100%;
    width: 40%;
}

.display {
    display: flex;
    flex-direction: column;

    width: 300px;
    height: 90px;

    margin-top: 30px;

    font-size: 25px;

    border-radius: 10px;
    border-style: solid;
    border-color: rgb(108, 113, 42);

    background-color: hsl(220, 9%, 61%);
}

.filaDisplay {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.panelNumerico {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* padding-top: 4px; */
    padding-bottom: 4px;

    border-radius: 10px;
    border-style: solid;
    border-color: rgb(57, 59, 59);

    background-color: hsl(217, 14%, 46%);
}

.filaNumero {
    display: flex;
    flex-direction: row;
}

.numero {
    width: 45px;
    height: 45px;

    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;

    padding: auto;

    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;

    border-radius: 8px;
    background-color: silver;
}

.numero:hover {
    cursor: pointer
}

.numero:active {
    cursor: pointer;
    scale:0.9;
}

.monederoCliente {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    /* background-color: black; */
}

.moneda {
    width: 45px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 2px;
    margin-right: 2px;

    /* border-radius: 8px; */
    /* background-color: silver; */
    transition: all 0.02s ease-in;
}

.moneda:hover {
    scale:1.1;
    cursor: pointer;
}

.moneda:active {
    scale:1.3;
    cursor: pointer;
}

.billete {
    width: 45px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 2px;
    margin-right: 2px;

    rotate: 10deg;

    /* border-radius: 8px; */
    /* background-color: silver; */
    transition: all 0.02s ease-in;
}

.billete:hover {
    scale:1.1;
    cursor: pointer;
}

.billete:active {
    scale:1.3;
    cursor: pointer;
}